.holderholder {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-content: center;

}


.holder{
    justify-content: center;
    align-content: center;
    padding: 0;
    margin: 15vh 0 0 0;
    height: 50vh;
    z-index: 1;
    position: relative;

}

.formholder{
    height: 50px;
    align-items: center;
}

.container {
    width: 20vw;
    height: 20vh;
    justify-content: center;

}

.label {
    font-size: 1.5rem;
}

.select{
    width: 3vw;
    height: 3vh;
    font-size: 1.2rem
}

.inputlevel {
    background-color: lightblue;
    cursor: pointer;
    width: 50px;
    margin-left: 20px;
}

.inputlevel:hover {
    transform: scale(1.05);
    transition: all 0.3s;
}

.questionform{
    position: relative;
}

.answer{
    background-color: lightgray;
    cursor: pointer;
    border-radius: 5px;
    box-shadow:5px 5px 5px lightslategray;
}

.answer:hover {
    transform: scale(1.05);
    transition: all 0.3s;
}

.answerwrong{
    background-color: red;
    border-radius: 5px;
    box-shadow:5px 5px 5px lightslategray;
}

.answerright{
    background-color: green;
    border-radius: 5px;
    box-shadow:5px 5px 5px lightslategray;
}