.holder {
    align-content: center;
    margin: 0px;
    padding: 0px;

    
}


.container{
    background-color:  rgba(176, 216, 230, 1);
    width: 80%;
    height: 2rem;
    margin: 0px;
    padding: 0px;
    line-height: 2rem;
    display: inline-flex;
    box-shadow:5px 5px 5px lightslategray;
    
}

.container h2{
    margin: 0;
    padding-right: 20px;
    padding-left: 2px;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
}

.container h2:hover{
    transform: scale(1.1);
}

.showlearn {
    visibility: show;
    position: absolute;
    background-color:rgb(173, 216, 230, 0.5);
    transition: all 0.5s;
    border-radius: 10%;
    width: auto;
    box-shadow:5px 5px 5px lightslategray;
}

.menulist {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    cursor: pointer;
    z-index: 100;
}

.menulist hr{
    margin: 0px;
    padding: 0px;
}

.menulist li{
    cursor: pointer;
}

.menulist li:hover{
    transform: scale(1.05);
    color: red;

}

.showreview {
    visibility: show;
    position: absolute;
    background-color: rgb(173, 216, 230, 0.5);
    padding: 5px;
    transition: all 0.5s;
    border-radius: 10%;
    box-shadow:5px 5px 5px lightslategray;
}

.showtest {
    visibility: show;
    position: absolute;
    background-color:rgb(173, 216, 230, 0.5);
    padding: 5px;
    transition: all 0.5s;
    border-radius: 10%;
    box-shadow:5px 5px 5px lightslategray;
}

.showgame {
    visibility: show;
    position: absolute;
    background-color:rgb(173, 216, 230, 0.5);
    padding: 5px;
    transition: all 0.5s;
    border-radius: 10%;
    box-shadow:5px 5px 5px lightslategray;
}

.showmethod {
    visibility: show;
    position: absolute;
    background-color:rgb(173, 216, 230, 0.5);
    padding: 5px;
    transition: all 0.5s;
    border-radius: 10%;
    box-shadow:5px 5px 5px lightslategray;
}

.showgeneral {
    visibility: show;
    position: absolute;
    background-color:rgb(173, 216, 230, 0.5);
    padding: 5px;
    transition: all 0.5s;
    border-radius: 10%;
    box-shadow:5px 5px 5px lightslategray;
}

.showteacher {
    visibility: show;
    position: absolute;
    background-color: rgb(173, 216, 230, 0.5);
    padding: 5px;
    transition: all 0.5s;
    border-radius: 10%;
    box-shadow:5px 5px 5px lightslategray;
}

.hidelearn {
    visibility: none;
    position: absolute;
    opacity: 0;
}

.hidereview {
    visibility: none;
    position: absolute;
    opacity: 0;
}

.hidetest {
    visibility: none;
    position: absolute;
    opacity: 0;
}

.hidegame {
    visibility: none;
    position: absolute;
    opacity: 0;
}

.hidemethod {
    visibility: none;
    position: absolute;
    opacity: 0;
}

.hidegeneral {
    visibility: none;
    position: absolute;
    opacity: 0;
}

.hideteacher {
    visibility: none;
    position: absolute;
    opacity: 0;
}