.holderholder {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
  font-family: Arial;
}

.holder {
  justify-content: center;
  align-content: center;
  padding: 0;
  margin: 15vh 0 0 0;
  height: 70vh;
  z-index: 1;
  position: relative;
  background: #b3e5fc;
}

.formholder {
  display: inline-flex;
  font-size: 2rem;
  margin: 5px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  height: 380px;
  justify-content: center;
  align-content: center;
}

.containertwo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-justify: center;
  text-align: center;
}

.button {
  background-color: #0093c4;
  cursor: pointer;
  width: 100px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  box-shadow: 5px 5px 5px lightslategray;
}

.button:hover {
  transform: scale(1.05);
  transition: all 0.3s;
}

.select {
  margin-top: 5px;
}

.slidecontainer {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  height: 7%;
  margin-top: 15px;
  margin-bottom: 5px;
  padding: 0px;
}

.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 50%; /* Full-width */
  height: 100%; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
  cursor: pointer;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  background: black;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: black;
  cursor: pointer;
}

.slidermarker {
  width: 10%;
  height: 100%;
  border: 1px solid black;
  background-color: lightblue;
  box-shadow: 5px 5px 5px lightslategray;
}
