.holderholder {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-content: center;
    font-family: Arial;
    

}


.holder{
    justify-content: center;
    align-content: center;
    padding: 0;
    margin: 15vh 0 0 0;
    height: 50vh;
    z-index: 1;
    position: relative;

}


.container {
    display: flex;
    flex-wrap: wrap;
    width: 20vw;
    height: 20vh;
    justify-content: center;

}

.button {
    background-color: lightblue;
    cursor: pointer;
    width: 50px;
    margin-left: 10px;
    box-shadow:5px 5px 5px lightslategray;
}

.button:hover {
    transform: scale(1.05);
    transition: all 0.3s;
}


.select{
    width: 3vw;
    height: 3vh;
    font-size: 1.2rem;
    box-shadow:5px 5px 5px lightslategray;
}

.canvas {
    cursor: pointer;
    border: 1px solid black;
    width: 800px;
    height: 500px;
    font-family: Arial;
    box-shadow:5px 5px 5px lightslategray;
  }