.holderholder {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-content: center;

}


.holder{
    justify-content: center;
    align-content: center;
    padding: 0;
    margin: 15vh 0 0 0;
    height: 50vh;
    z-index: 1;
    position: relative;

}


.container {
    display: flex;
    flex-wrap: wrap;
    width: 20vw;
    height: 20vh;
    justify-content: center;

}

.element{
    width: 48%;
    height: 50%;
    border: 1px solid black;
    cursor: pointer;
    background-color: lightblue;
    box-shadow:5px 5px 5px lightslategray;
}

.element:hover {
    transform: scale(1.05);
    transition: all 0.3s;
    opacity: 0.8;
}

.element h4{
    margin: auto;
}


.elementblank{
    width: 48%;
    height: 50%;
    border: 1px solid black;
    background-color: white;
    opacity: 0;
}



.button {
    background-color: lightblue;
    cursor: pointer;
    width: 50px;
    margin-left: 10px;
    box-shadow:5px 5px 5px lightslategray;
}

.button:hover {
    transform: scale(1.05);
    transition: all 0.3s;
}


.select{
    width: 100px;
    font-size: 1.2rem;
    box-shadow:5px 5px 5px lightslategray;
}
