/* Styling for social media buttons */
.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

.social:hover {
  transform: translateY(-2px);
}

.youtube {
  color: black;
  margin-left: 10px;
}

.facebook {
  color: black;
  margin-left: 10px;
}

.twitter {
  color: black;
  margin-left: 10px;
}

.instagram {
  color: black;
  margin-left: 10px;
}

.h6 {
  padding: center;
}
