/* Styling for social media buttons */
.social {
  /* margin: 0 1rem 20px;
  transition: transform 250ms; */
  /* display: flex;
  justify-content:center; */
  display: flex!important;
align-items: center !important;
justify-content: center !important;
 
}

.social:hover {
  transform: translateY(-2px);
}

.youtube {
  color: #fafafa;
  margin-left: 30px;
}

.facebook {
  color: #fafafa;
  margin-left: 30px;
}

.twitter {
  color: #fafafa;
  margin-left: 30px;
}

.instagram {
  color: #fafafa;
  margin-left: 30px;
}

h6 {
  /* padding: center; */
  color: white !important;
  /* margin-left: 50px; */
  padding-top: 370px;
  /* align-items: center; */
  /* justify-content: center; */
  text-align: center;
}
