/* Styling for social media buttons */
.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
  }
  
  .social:hover {
    transform: translateY(-2px);
  }
  
  .youtube {
    color: #eb3223;
    margin-left: 10px;
  }
  
  .facebook {
    color: #4968ad;
    margin-left: 10px;
  }
  
  .twitter {
    color: #49a1eb;
    margin-left: 10px;
  }
  
  .instagram {
    color: black;
    margin-left: 10px;
  }